$primary: #751874;

@import "~bootstrap";
@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

// https://getbootstrap.com/docs/5.0/layout/breakpoints/

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    font-weight: $mainFontWeight;
    color: $mainFontColor;
    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
    @include media-breakpoint-up(md) {
        font-size: 14px;
    }
}

section,
.section {
    position: relative;
    padding: 40px 0;
    @include media-breakpoint-up(xl) {
        padding: 36px 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 28px 0;
    }
    @include media-breakpoint-up(md) {
        padding: 20px 0;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
// Modules:
// example: @import "modules/my-module.scss";
