extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block content
    section
        .container
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +item('item title', 'item descr')
                    .swiper-slide
                        +item('item title', 'item descr')
                    .swiper-slide
                        +item('item title', 'item descr')
            .row
                .col-12
                    a.btn.btn-primary 1231


block script
